<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑 | 账号</title>
    <link href="/resources/static/layui/css/layui.css" rel="stylesheet"/>
    <script src="/resources/static/layui/layui.js"></script>
</head>

<body>
<form class="layui-form" action="" lay-filter="form" style="padding: 10px;">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">账号:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input class="layui-input" type="text" name="loginName" lay-verify="required" autocomplete="off">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">昵称:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input class="layui-input" type="text" name="nickName" lay-verify="required" autocomplete="off">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">密码:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input class="layui-input" type="password" name="password" lay-verify="required" autocomplete="off">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">所属角色:<font color="red">*</font></label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <select id="roleIds" name="roleIds" lay-verify="required" lay-filter="roleIds" multiple="multiple"></select>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">状态:</label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <input type="checkbox" name="status" lay-filter="status" lay-skin="switch" lay-text="开启|禁用">
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="layui-form-label">备注:</label>
            </div>
            <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
                <textarea class="layui-textarea" name="remark" autocomplete="off"></textarea>
            </div>
        </div>
    </div>

    <div style="text-align: center; padding-top: 10px;">
        <button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
        <button class="layui-btn layui-btn-primary" type="reset">重置</button>
    </div>
</form>

<script type="text/javascript">
    var record;
    function setRecordData(rec) {
        record = rec;
    }

    layui.config({
        base: '/resources/static/layui/'
    }).extend({
        baseedit: 'base/baseedit',
        multiSelect: 'plugin/multiSelect'
    }).use(['form', 'baseedit', 'multiSelect'], function () {
        $ = layui.jquery;
        var form = layui.form,
            baseedit = layui.baseedit,
            multiSelect = layui.multiSelect;

        //表单初始赋值
        var status;
        if(record.status == 1){
            status = true;
        }else{
            status = false;
        }
        form.val('form', {
            "loginName": record.loginName,
            "nickName": record.nickName,
            "password": record.password,
            "status": status,
            "remark": record.remark,
        })

        // 获取角色
        getRole(multiSelect);

        // 提交
        form.on('submit(submit)', function (data) {
            var rec = data.field;
            if (rec.status == "on") {
                rec.status = 1;
            } else {
                rec.status = 0;
            }
            rec.id = record.id;
            var roleIds = [];
            $('select[multiple] option:selected').each(function() { // 遍历多选框选中的值
                var roleId = $(this).val();
                roleIds.push(parseInt(roleId));
            })
            if (roleIds.length == 0) {
                layer.msg('必选项不能为空！', {
                    icon: 5
                });
                return false;
            }
            rec.roleIds = roleIds.toString();

            baseedit.submitForm("/user/update", rec);

            return false;
        });
    });

    function getRole(multiSelect) {
        $.ajax({
            type: "GET",
            url: "/role/getRole",
            dataType: "json",
            success: function (res) {
                var data = res.data;

                var html = '<option value=""></option>';
                for (var i = 0; i < data.length; i++) {
                    html += '<option value=' + data[i].roleId + '>' + data[i].roleName + '</option>';
                }
                $("#roleIds").append(html);

                multiSelect.render();
            }
        })
    }
</script>
</body>
</html>